build/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Landr - Responsive Bootstrap 3 Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|Cantarell">
    <link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="./vendor/animate.css/animate.css">
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <main class="landr">
      <section data-stellar-background-ratio="0.5" class="landr-home">
        <div class="container">
          <div class="logo"><img src="img/logo.svg" width="200"></div>
          <div data-wow-duration="5s" class="jumbotron wow fadeIn">
            <h1>Start is soon</h1>
            <p>Our amazing new site is almost ready for launch.</p>
          </div>
          <div class="countdown">
            <div class="row">
              <div class="col-xs-12 col-sm-2 col-sm-offset-2">
                <figure class="countdown-unit countdown-unit--days">
                  <div class="countdown-unit-value">0</div>
                  <figcaption class="countdown-unit-text">Days</figcaption>
                </figure>
              </div>
              <div class="col-xs-12 col-sm-2">
                <figure class="countdown-unit countdown-unit--hours">
                  <div class="countdown-unit-value">0</div>
                  <figcaption class="countdown-unit-text">Hours</figcaption>
                </figure>
              </div>
              <div class="col-xs-12 col-sm-2">
                <figure class="countdown-unit countdown-unit--minutes">
                  <div class="countdown-unit-value">0</div>
                  <figcaption class="countdown-unit-text">Minutes</figcaption>
                </figure>
              </div>
              <div class="col-xs-12 col-sm-2">
                <figure class="countdown-unit countdown-unit--seconds">
                  <div class="countdown-unit-value">0</div>
                  <figcaption class="countdown-unit-text">Seconds</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="landr-about">
        <div class="container">
          <h2 data-wow-duration="1.5s" class="section-heading wow fadeIn">The Project</h2>
          <div class="row wow fadeIn">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
              <p class="section-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra commodo nisl a malesuada. Curabitur ut felis maximus tortor lobortis faucibus eu non lectus.</p>
            </div>
          </div>
          <div class="project-features">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="thumbnail wow fadeInUp">
                  <div class="icon"><i style="font-size: 56px" class="fa fa-desktop"></i></div>
                  <div class="caption">
                    <h3>Design</h3>
                    <p>Pellentesque rutrum est non massa dignissim, ac pharetra turpis varius. Nulla feugiat, massa ut lacinia commodo, nisi diam fermentum libero, vitae varius neque dolor in arcu. Duis varius convallis augue ut bibendum. Cras eget orci eget sem facilisis mollis vel lacinia magna.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="thumbnail wow fadeInUp">
                  <div class="icon"><i style="font-size: 56px" class="fa fa-dollar"></i></div>
                  <div class="caption">
                    <h3>Advertising</h3>
                    <p>Pellentesque rutrum est non massa dignissim, ac pharetra turpis varius. Nulla feugiat, massa ut lacinia commodo, nisi diam fermentum libero, vitae varius neque dolor in arcu. Duis varius convallis augue ut bibendum. Cras eget orci eget sem facilisis mollis vel lacinia magna.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="thumbnail wow fadeInUp">
                  <div class="icon"><i style="font-size: 56px" class="fa fa-code"></i></div>
                  <div class="caption">
                    <h3>Development</h3>
                    <p>
                      Pellentesque rutrum est non massa dignissim, ac pharetra turpis varius. Nulla feugiat, massa ut lacinia commodo, nisi diam fermentum libero, vitae varius neque dolor in arcu. Duis varius convallis augue ut bibendum. Cras eget orci eget sem facilisis mollis vel lacinia magna.
                        
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section data-stellar-background-ratio="0.3" class="landr-subscribe">
        <div class="container">
          <div class="wow fadeInLeft">
            <h2 class="section-heading">Subscribe to our newsletter</h2>
            <p class="section-descr">You'll be one of the first to know when the site is ready</p>
          </div>
          <form class="form-inline subscribe-form wow fadeInRight">
            <div class="form-group">
              <input name="email" type="email" placeholder="Enter your email..." class="form-control input-lg">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Subscribe</button>
          </form>
        </div>
      </section>
      <section class="landr-where-find-us">
        <div class="container">
          <h2 class="section-heading wow fadeIn">Where find us</h2>
          <div class="find-us-list wow fadeInUp">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="thumbnail">
                  <div class="icon"><i style="font-size: 52px; transform: scale3d(0.9, 1, 1)" class="fa fa-fw fa-home"></i></div>
                  <div class="caption">
                    <p>420, Beautiful Street, NY</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="thumbnail">
                  <div class="icon"><i style="font-size: 56px" class="fa fa-fw fa-mobile"></i></div>
                  <div class="caption">
                    <p>+1 (234) 567-89-00</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="thumbnail">
                  <div class="icon"><i style="font-size: 42px" class="fa fa-fw fa-paper-plane-o"></i></div>
                  <div class="caption">
                    <p>some-email@domain.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="landr-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <ul class="social-links">
              <li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram fa-fw"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-fw"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube fa-fw"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin fa-fw"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest fa-fw"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-pull-6">
            <p class="copyrights"><strong>Landr</strong><span>&nbsp;&copy;&nbsp;</span><strong>2016</strong></p>
          </div>
        </div><a href="#" title="Scroll to top" class="scroll-to-top"><i class="fa fa-chevron-up fa-fw"></i></a>
      </div>
    </footer>
    <script src="./vendor/jquery/jquery.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.js"></script>
    <script src="./vendor/jquery.countdown/jquery.countdown.js"></script>
    <script src="./vendor/jquery.stellar/jquery.stellar.js"></script>
    <script src="./vendor/smoothscroll/SmoothScroll.js"></script>
    <script src="./vendor/wow/wow.js"></script>
    <script src="./js/landr.js"></script>
    <script>
      Landr.init(
        // Landr options object
        {
          // Countdown options
          countdown: {
            el: '.countdown', // Selector for countdown element
            date: '2016/07/21 16:20:00' // Target date in 'YYYY/MM/DD hh:mm:ss'
          }
        }
      );
    </script>
  </body>
</html>

jade/index.jade
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='format-detection' content='telephone=no')
    title Landr - Responsive Bootstrap 3 Template
    
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fjalla+One|Cantarell')
    link(rel='stylesheet', href='./vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='./vendor/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='./vendor/animate.css/animate.css')
    link(rel='stylesheet', href='./css/styles.css')
  body
    main.landr
      section.landr-home(data-stellar-background-ratio='0.5')
        include ./includes/landr-home
      section.landr-about
        include ./includes/landr-about
      section.landr-subscribe(data-stellar-background-ratio='0.3')
        include ./includes/landr-subscribe
      section.landr-where-find-us
        include ./includes/landr-where-find-us
    footer.landr-footer
      include ./includes/landr-footer
  
    script(src='./vendor/jquery/jquery.js')
    script(src='./vendor/bootstrap/js/bootstrap.js')
    script(src='./vendor/jquery.countdown/jquery.countdown.js')
    script(src='./vendor/jquery.stellar/jquery.stellar.js')
    script(src='./vendor/smoothscroll/SmoothScroll.js')
    script(src='./vendor/wow/wow.js')
    script(src='./js/landr.js')
    script.
      Landr.init(
        // Landr options object
        {
          // Countdown options
          countdown: {
            el: '.countdown', // Selector for countdown element
            date: '2016/07/21 16:20:00' // Target date in 'YYYY/MM/DD hh:mm:ss'
          }
        }
      );
      
      
